body {
  background-color: #8c8585;
  margin: 40px;
}
#calc {
  font-family: 'Play', sans-serif;
  text-align: center;
  height: 350px;
  width: 250px;
  border: 1px solid white;
  margin: auto;
  padding: 15px;
  background-color: #F3EEE7;
  border-radius: 50% / 5%;
  box-shadow: 5px 5px 5px #444;
}
#val {
  height: 30px;
  width: 200px;
  border: 0px solid grey;
  border-radius: 5px;
  background-color: #C7C7B0;
  box-shadow: 2px 2px 2px grey;
  color: black;
  text-align: right;
  font-size: 25px;
}
button {
   border-radius: 50% / 20%;
   width: 40px;
   height: 30px;
   background-color: #3C3746;
   border: 0px;
   color: white;
   font-size: 17px;
   margin: 5px;
}
button:focus {
  outline: 0px;
}
#ac,#ce {
  background-color: #C44657;
}

